
/*
 X-Small devices (portrait phones, less than 576px)
 */
@media (max-width: 675.98px) {

    html, body {
        background-color:#fff;
        color: #636b6f;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    .link {margin-top:30px;}

    .link a {
        display: block;
        font-family: arial;
        width: 250px;
        height: 40px;
        color: black;
        background: #eee;
        text-align: center;
        border-bottom:2px solid #9999;
        text-decoration: none;
        font-weight: 400;
        margin-left: 15%;
        padding-top:10px;
    }

    .title {
        font-size:15px;
        margin-left: 20%;
        font-family: arial;
        text-decoration: underline;
    }

    .list{display: none;}
    .data1{display: block;}
    .data2{display:none;}
    #content{display:none;}
    .title{display: none;}

    .nav {
        display: none;
    }
}

/*
Affichage sur ordinateur et tablette
 */

@media (min-width: 792px) {
    html, body {
        background-color: #fff;
        color: #636b6f;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        height: 100vh;
        margin: 0;
    }

    .top-right {
        margin-left: 60%;
        margin-top: 50px;
    }

    .compte {
        padding-left: 3%;
    }

    .flex-center {

    }

    .position-ref {
        position: relative;
    }

    .top-right {
    }

    #content {
        width: 80%;
    }

    .title {
        font-size: 25px;
        margin-left: 30%;
        font-family: arial;
        text-decoration: underline;
    }

    .links > a {
        color: #636b6f;
        padding: 0 25px;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: .1rem;
        text-decoration: none;
        text-transform: uppercase;
    }

    .link {
        margin-left: 15%;
    }

    .links1 {
        width: 50%;
    }

    .link, .links1 {
        float: left;
    }

    .links1 {
        margin-left: 3%;
        border: 1px solid #eee;
    }

    .link a {
        display: block;
        font-family: arial;
        width: 200px;
        height: 40px;
        color: black;
        background: #eee;
        text-align: center;
        border-bottom:2px solid #9999;
        text-decoration: none;
        font-weight: bold;
        font-size:13px;
    }

    #users, .data1, .lists, .data2 {
        display: none;
    }

    .m-b-md {
        margin-bottom: 30px;
    }

    .name {
        font-family: arial;
        position: absolute;
        font-weight: bold;
        top: 90px;
        padding-left: 2%;
    }

}
